@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #2d4059;
}

.img-pad {
  padding: 20px;
  margin: 100px;
}

h1,
p {
  color: #ffd460;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-in-out;
}

h1:hover {
  font-size: 300%;
}

p:hover {
  font-size: 20px;
}

img {
  border-radius: 20px;
  width: 90%;
  transition: all 0.5s ease-in-out;
}

img:hover {
  width: 100%;
}

.table1 {
  padding: 20px;
  border-color: #f07b3f;
  border-radius: 25px;
  border-width: 10px;
  border-style: solid;
  background-color: #ea5455;
}

a {
  text-decoration: none;
  color: #ffd460;
}

hr {
  color: #ffd460;
}

li {
  color: #ffd460;
}
